### Diferentes formas de crear Tuplas

In [2]:
my_tuple = ("carlos", "Test" , 3000, 15.79)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('carlos', 'Test', 3000, 15.79)

In [3]:
my_tuple = "carlos", "Test" , 3000, 15.79
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('carlos', 'Test', 3000, 15.79)

In [5]:
my_list = [100,200,300,400,500]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(100, 200, 300, 400, 500)

### Metodo sort en tuplas

In [7]:
my_tuple = (5, 4, 2, 7, 9, 0, 1)
MST = sorted(my_tuple)
MST2 = tuple(sorted(my_tuple))

print(type(my_tuple))
print(my_tuple)

print(type(MST))
print(MST)      

print(type(MST2))
print(MST2)

<class 'tuple'>
(5, 4, 2, 7, 9, 0, 1)
<class 'list'>
[0, 1, 2, 4, 5, 7, 9]
<class 'tuple'>
(0, 1, 2, 4, 5, 7, 9)

### Metodo all en tuplas

In [9]:
MyT = (5, 4, 2, 7, 9, 2, 1)
print(all(MyT))

True

In [10]:
MyT = (5, 4, 2, 7, 9, 0, 1)
print(all(MyT))

False

In [11]:
MyT = (5, 4, 2, 7, 9, "", 1)
print(all(MyT))

False

In [12]:
MyT = (5, 4, 2, 7, 9, None, 1)
print(all(MyT))

False

In [13]:
MyT = (5, 4, 2, 7, 9, False, 1)
print(all(MyT))

False

### metodo any en tuplas

In [14]:
MyT = (5, 4, 2, 7, 9, 2, 1)
print(any(MyT))

True

In [16]:
MyT = (5, 4, 2, 7, 9, 0, 1)
print(any(MyT))

True

In [17]:
MyT = (0, 0, 0, 0, 0, 0, 1)
print(any(MyT))

True

In [18]:
MyT = (0, "", False, 0, None)
print(any(MyT))

False

### Metodo len en tuplas

In [21]:
MyT = (5, 4, 2, 7, 9, 2, 1)
print(len(MyT))
print(type(MyT))
print(MyT)

7
<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)

### index en tuplas

In [22]:
MyT = (5, 4, 2, 7, 9, 2, 1)
print(type(MyT))
print(MyT)
print(MyT[0])
print(MyT[-1])
print(MyT[3])
print(MyT[-4])

<class 'tuple'>
(5, 4, 2, 7, 9, 2, 1)
5
1
7
7

Conversion de tuplas

##cadena a tupla

In [24]:
myS = "backend python"
myT = tuple(myS)
print(myS)
print(myT)

backend python
('b', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'o', 'n')

### Lista a tupla

In [31]:
myL = ["python", "javascript", "go", "java", "scala"]
ymT = tuple(myL)

print(myL)
print(ymT)

['python', 'javascript', 'go', 'java', 'scala']
('python', 'javascript', 'go', 'java', 'scala')

In [26]:
### Tupla a cadena

In [28]:
myT = ('b', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'o', 'n')
myS = "".join(myT)

print(myT)
print(myS)

('b', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'o', 'n')
backend python

In [32]:
myT = ('python', 'javascript', 'go', 'java', 'scala')
myL = list(myT)

print(myL)
print(myT)

['python', 'javascript', 'go', 'java', 'scala']
('python', 'javascript', 'go', 'java', 'scala')

### Ventajas de la tupla

- Generalmente usamos tuplas para elementos heterogeneos y usamos listas para elementos homogeneos
- Las tuplas son inmutables
- Las tuplas contienen elementos inmutables por lo que sirven para llaves de diccionario
- Si tienes data te aseguras de mantenerlo protegido de alteraciones

In [33]:
myT[0] = "valor intruso"

TypeError: 'tuple' object does not support item assignment

In [36]:
my_list[0] = "valor intruso"

In [37]:
print(myT)
print(my_list)

('python', 'javascript', 'go', 'java', 'scala')
['valor intruso', 200, 300, 400, 500]